.article-cover-img{
    height: 50rem;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 3px;
}
.article-title{
    margin: 3rem 0;
    text-align: left;
    font-size: 5rem;
    font-weight: 400;
}
.article-content{
    white-space: pre-wrap;
}

.article-container{
    padding-bottom: 10rem;
}
.action{
    display: flex;
    align-items: flex-end;
    justify-content:  flex-end;
    margin-top: 2rem;
}


/**MODAL**/

.delete-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.617);
    z-index: 1000;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 400px;
}

.modal-content button {
    margin: 10px;
}

button#confirmDelete {
    background: #0066ff;
    border: none;
    color: #fff;
    padding: 5px 15px;
    cursor: pointer;
}

button#cancelDelete {
    background: #ff0000;
    border: none;
    color: #fff;
    padding: 5px 15px;
    cursor: pointer;
    
}

.delete-message{
    width: 90px;
    margin: 0 auto;
}
.article-author p{
    text-align: right;
    padding: 20px;
    font-size: 1rem;
    font-weight: 700;
    font-style: italic;
}